
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    
    <!-- BOOTSTRAP STYLES-->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="~/Content/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="~/Content/assets/css/custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="~/Scripts/app/app.js"></script>
</head>
<body>
    <div id="wrapper" ng-app="myApp">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="index.html">@HttpContext.Current.User.Identity.Name</a>*@
                <a class="navbar-brand" href="index.html">@HttpContext.Current.User.Identity.Name</a>
            </div>

            <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 20px;">
                &nbsp;
                @*<a href="#" class="btn btn-danger square-btn-adjust">Logout</a>*@
                @Html.ActionLink("Content", "Index", "Contents", null, new { @class = "btn btn-danger square-btn-adjust" })
                @Html.ActionLink("Logout", "MainPage", "Home", null, new { @class = "btn btn-danger square-btn-adjust" })
            </div>

               
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav active-" id="main-menu">
                    <li class="text-center">
                        <img src="~/Content/assets/img/find_user.png" class="user-image img-responsive" />
                    </li>

                    <li>
                        <a href='@(Url.Action("Index", "Admin"))'><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                       
                       
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "HTML" }))'><i class="fa fa-dashboard fa-3x"></i> HTML</a>
                      
                    </li>

                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "CSS" }))'><i class="fa fa-dashboard fa-3x"></i> CSS</a>
                    </li>

                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "Javascript" }))'><i class="fa fa-dashboard fa-3x"></i> Javascript</a>
                    </li>

                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "Angular" }))'><i class="fa fa-dashboard fa-3x"></i> Angular</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "C#" }))'><i class="fa fa-dashboard fa-3x"></i> C#</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "ASP.net" }))'><i class="fa fa-dashboard fa-3x"></i> ASP.net</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "MVC" }))'><i class="fa fa-dashboard fa-3x"></i> MVC</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "Web Api" }))'><i class="fa fa-dashboard fa-3x"></i> Web Api</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "SQL" }))'><i class="fa fa-dashboard fa-3x"></i> SQL</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "ADO.net" }))'><i class="fa fa-dashboard fa-3x"></i> ADO.net</a>
                    </li>
                    <li>
                        <a href='@(Url.Action("Content", "Admin", new { ContentType = "EF" }))'><i class="fa fa-dashboard fa-3x"></i> Entity Framework</a>
                    </li> 
                    <li>
                        <a href='@(Url.Action("Linq", "Admin", new { ContentType = "LINQ" }))'><i class="fa fa-dashboard fa-3x"></i> LINQ</a>
                    </li>

@*Another approach to display data*@
    @*<li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Front End<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">HTML</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">Javascript</a>
                            </li>
                            <li>
                                <a href="#">AngularJS</a>
                            </li>
                            @*<li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>*@

                    <li>
                        <a href='@(Url.Action("editor", "Admin"))'><i class="fa fa-dashboard fa-3x"></i>Editor Page</a>
                        @*<a class="active-menu" href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>*@
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                @RenderBody()
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="~/Content/assets/js/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="~/Content/assets/js/jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    @*<script src="~/Content/assets/js/custom.js"></script>*@

   
</body>
</html>

