@model LoginProject.Models.User
@{
    Layout = null;
}

<div class="container-fluid">

    <!-- Modal content-->
    <div class="login-content">
        <div class="login-header" style="background-color:cadetblue">
         
            <h4 class="modal-title text-center black"><strong>Login Information</strong></h4>
        </div>
        <div class="modal-body">

            <h2 class="text-center black">Welcome to .Net Learning</h2>
            <br />
            <div class="container">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <strong>UserName</strong> @Html.TextBoxFor(m => m.Username) <br />
                    @Html.ValidationMessageFor(x => x.Username)<br />
                    <strong>Password</strong>  @Html.PasswordFor(m => m.Password)<br />
                    @Html.ValidationMessageFor(x => x.Password)<br />
                    <input id="Submit1" type="submit" value="Login" class="btn btn-success" oncl />
                }
                <br />
                @Html.ValidationSummary()

            </div>

        </div>
       
    </div>

</div>